/*#pool div:nth-child(odd){
	background: grey;
}
/*
COLORS
navy,blue,aqua,teal,olive,green,lime,yellow,orange,red,maroon,fuchsia,purple,black,gray,silver
*/
h1 {
	background: white;
	color: black;
	font-family: "Times New Roman", Times, serif;
}

a {
	color: blue;
}

form {
	padding-bottom: 20px;
}


#championMasteries{

}

.championCard{
	width: 960px;
	height: 960px;
	border: 1px solid blue;
}

.championImage{
}

.championText{
	width: 600px;
	float:right;
}

.championLine{
	margin: 3px;
	float: left;
}