#enemy1{
	float:left;
	border: 2px solid black;
}

#ally1{
}

.left{
	float:left;
}

.experience{
	float:left;
	margin-left:10px;
}

.ban{
	float:left;
}

.pick{
	float:left;
	margin-left:10px;
	margin-right:10px;
}

.avoid{
	float:left;
}

.spin{
	width: 100px;
	height: 100px;
	background-color: blue;
	animation: spin 5s linear infinite;
}
@keyframes spin{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}