#enemy1{
	float:left;
	border: 2px solid black;
}

#ally1{
}

.left{
	float:left;
}

.experience{
	float:left;
	margin-left:10px;
}

.ban{
	float:left;
}

.pick{
	float:left;
	margin-left:10px;
	margin-right:10px;
}

.avoid{
	float:left;
}