/*
League of Legends client window size
1920 x 1080
1600 x 900
1280 x 720
1024 x 576

*/

/*root element*/
#app{
  height:720px;
  width:1280px;
  border:1px solid black;
  display:flex;
  justify-content:flex-end;
}

#left{
  flex: 1;
}

#center{
  flex: 2;
}

#right{
  flex: 1;
}

.component{
  border: 1px solid black;
}



/*rest */
.controls{
}

.control{
  width:40px;
  height:40px;
}

#display-bans{
}

#dynamic-display{
}

.mate{

}

.opponent{

}