/*
League of Legends client window size
1920 x 1080
1600 x 900
1280 x 720
1024 x 576

*/

#controls{
  float:right;
}

.control{
  width:40px;
  height:40px;
}

#display-bans{

}

.column#dynamic-display{
  width:50%;
}

.column{
  float:left;
}

.mate{
  width:25%;
}

.opponent{
  width:25%;
  height:;
}



#my-team-versus-his-team{

}

